# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store

# Logs
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Other
*.tgz
*.zip
*.icloud