---
import Layout from "../layouts/Layout.astro";
import AboutHeroSection from "../components/AboutHeroSection.astro";
import SnowCellAtItsCore from "../components/SnowCellAtItsCore.astro";


---

<Layout title="About us">
    <main class="mb-40">
        <AboutHeroSection />
        <SnowCellAtItsCore />
    </main>
</Layout>
