---
import Layout from '../layouts/Layout.astro';
import DynamicBlog from '../components/DynamicBlog.astro';
---
<Layout title="Welcome to SnowCell.">
    <main class="mb-40">
       <DynamicBlog />
    </main>
</Layout>