---
import Solution from "../components/Solution.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Reviews from "../components/Reviews.astro";
import Pricing from "../components/Pricing.astro";
import ContactUs from "../components/ContactUs.astro";

import Blog from "../components/Blog.astro";
---

<Layout title="Welcome to Arctic.">
    <main class="mb-40">
        <HeroSection />
        <Features />
        <Solution />
        <Reviews />
        <Pricing />
        <ContactUs />
        <Blog />
    </main>
</Layout>
