---
import Layout from "../layouts/Layout.astro";
import KubernetesHeroSection from "../components/KubernetesHeroSection.astro";
import KubernetesSection from "../components/KubernetesSection.astro";


---

<Layout title="About us">
    <main class="mb-40">
        <KubernetesHeroSection />
        <KubernetesSection />
    </main>
</Layout>
