---
import Layout from "../layouts/Layout.astro";

// import PartnerShip from "../components/PartnerShip.astro";
import SimpleRegistrationForm from "../components/react/material-tailwind/PartnerShip.jsx"

---

<Layout title="Partnership">
    <main class="mb-40">
        <SimpleRegistrationForm client:load/>
    </main>
</Layout>