---

import Layout from "../layouts/Layout.astro";
import Pricing from "../components/Pricing.astro";
import ContactUs from "../components/ContactUs.astro";

import Faqs from "../components/Faqs.astro";

import Blog from "../components/Blog.astro";

import PricingHeroSection from "../components/PricingHeroSection.astro";
import PricingFAQ from "../components/PricingFAQ.astro";


import DescriptivePricing from "../components/DescriptivePricing.astro";
---

<Layout title="Pricing">
    <main class="mb-40">
        <PricingHeroSection />
        <!-- <Reviews /> -->
        <DescriptivePricing />
        <PricingFAQ />
        <!-- <Pricing /> -->
        <Blog />
    </main>
</Layout>
