---

import Layout from "../layouts/Layout.astro";
import Pricing from "../components/Pricing.astro";
import Faqs from "../components/Faqs.astro";
import Blog from "../components/Blog.astro";

import DescriptivePricing from "../components/DescriptivePricing.astro";
import SolutionsHeroSection from "../components/SolutionsHeroSection.astro";
import OurSolutions from "../components/OurSolutions.astro";
import MachineLearningSolution from "../components/MachineLearningSolution.astro";
import VFXRenderingSolution from "../components/VFXRenderingSolution.astro";
import InferenceSolution from "../components/InferenceSolution.astro";
---

<Layout title="Welcome to SnowCell.">
    <main class="mb-40">
        <SolutionsHeroSection />
        <MachineLearningSolution />
        <!-- <VFXRenderingSolution /> -->
        <!-- <InferenceSolution /> -->
        <OurSolutions />
        <!-- <DetailedSolutions /> -->
        <Pricing />
        <Faqs />
    </main>
</Layout>
