---
import Layout from "../layouts/Layout.astro";
import VirtualServersHeroSection from "../components/VirtualServersHeroSection.astro";
import VirtualServers from "../components/VirtualServers.astro";


---

<Layout title="About us">
    <main class="mb-40">
        <VirtualServersHeroSection />
        <VirtualServers />
    </main>
</Layout>
