---
import Layout from "../layouts/Layout.astro";
import ContactUs from "../components/ContactUs.astro";

import Blog from "../components/Blog.astro";
import WhySnowCellHeroSection from "../components/WhySnowCellHeroSection.astro";
import TheSnowCellInfraStructure from "../components/TheSnowCellInfrastructure.astro";
import WhyChooseSnowCell from "../components/WhyChooseSnowCell.astro";
import SnowCellHeadline from "../components/SnowCellHeadline.astro";
import SnowCellInfrastructureCarousel from "../components/SnowCellInfrastructureCarousel.astro";
import WhatDoesSnowCellDo from "../components/WhatDoesSnowCellDo.astro";
// import SnowCellComingSoon from "../components/SnowCellComingSoon.astro";
import SnowCellSeeMore from "../components/SnowCellSeeMore.astro";


---

<Layout title="Welcome to SnowCell.">
    <main class="mb-40">
        <WhySnowCellHeroSection />
        <TheSnowCellInfraStructure />
        <!-- <SnowCellInfrastructureCarousel /> -->
        <WhyChooseSnowCell />
        <SnowCellHeadline />
        <WhatDoesSnowCellDo/>
        <!-- <SnowCellComingSoon/> -->
        <SnowCellSeeMore/>
        <!-- <ContactUs/> -->
    </main>
</Layout>