---
import Container from "./Container.astro";
import ContactForm from "./ContactForm.astro";  // Importing the ContactForm
import SolutionContent from "./SolutionContent.astro";
import Products from "./Products.astro";
// You can import other specific components like Products or SolutionContent if needed.
---


    <div class="pt-20 pb-20 md:pt-32 md:pb-32 flex flex-col gap-12 lg:flex-row" id="contact-us">
    <Container>
        <div class="flex-row-reverse items-center justify-between space-y-12 text-gray-600 md:flex md:gap-6 lg:gap-12 lg:space-y-0">
            <div class="relative ml-auto h-full md:w-1/2">
                <img class="dark:hidden" src="./images/milestone.webp" alt="app milestone" width="1174" height="1134" />
                <img class="hidden dark:block" src="./images/milestone-dark.webp" alt="app milestone" width="1174" height="1134" />
            </div>
            

            <div class="md:w-1/2 lg:w-[47%]">
                <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:text-5xl">Get in Touch with Us</h2>
                <p class="my-12 text-gray-600 dark:text-gray-300">
                    If you have any questions or need assistance, please reach out to us. One of our engineers will be in touch with you shortly.
                </p>

                <!-- You can add more content, icons, or features similar to the ones in the Solution component if needed. -->
                <ContactForm />  <!-- Using the ContactForm here -->
            </div>
        </div>

    </Container>
</div>
