---
import Button from "./Button.astro";
import Container from "./Container.astro";
import Paragraph from "./Paragraph.astro";
---

<!-- 
  HeroSection Component:
  A prominent visual banner for the homepage, featuring a main headline, 
  brief description, call-to-action buttons, app screenshots, and logos of trusted tech companies.
-->


<div class="relative overflow-hidden dark:bg- lg:overflow-auto" id="home">
  <div class="absolute inset-x-0 top-32 lg:hidden">
    <div aria-hidden="true" class="grid grid-cols-2 -space-x-52 opacity-50 dark:opacity-60 2xl:mx-auto 2xl:max-w-6xl">
        <div class="h-60 bg-gradient-to-br from-primary to-purple-400 blur-3xl dark:from-blue-700"></div>
        <div class="h-72 rounded-full bg-gradient-to-r from-cyan-400 to-sky-300 blur-3xl dark:from-transparent dark:to-indigo-600"></div>
    </div>
</div>
    <Container>
        <div class="relative ml-auto pt-40 xl:pt-36">
            <div class="gap-12 md:flex md:items-center">
                <div class="text-center sm:px-12 md:w-2/3 md:px-0 md:text-left lg:w-1/2">
                    <h1 class="text-5xl font-black dark:text-white md:text-6xl xl:text-7xl animate-float">The SnowCell GPU Cloud</h1>
                    <div class="">
                        <!-- <p class="mt-8 text-lg text-gray-700 dark:text-gray-100 animate-float" style="animation-delay: 0.1s;">Powering your most demanding computational tasks, our cutting-edge infrastructure is engineered for speed, scalability, and precision. From intricate simulations to data-intensive analytics, we ensure peak performance every step of the way.</p> -->
                        <!-- <p class="mt-8 text-lg text-gray-700 dark:text-gray-100 animate-float" style="animation-delay: 0.1s;">Arctic is a specialized cloud provider, providing cutting-edge infrastructure for demanding computational tasks.</p> -->
                        <Paragraph className="mt-8 text-lg text-gray-700 dark:text-gray-100 animate-float" style="animation-delay: 0.1s;">
                            Arctic is a specialized cloud provider, providing cutting-edge infrastructure for demanding computational tasks.
                        </Paragraph>
                          
                        <div class="mt-12 flex justify-center gap-4 sm:gap-6 md:justify-start">
                            <Button El="a" emphasis="primary" label="Get started" to="#pricing" />
                            <Button El="a" emphasis="secondary" label="Learn more" to="#solution" />
                        </div>
                    </div>
                </div>
                <div class="relative mt-20 md:mt-0 md:w-2/5 lg:w-3/5">
                    <div class="-ml-6 md:-mr-72 lg:mr-0">
                        <!-- <img class="h-full object-cover object-left dark:hidden" src="./images/hero.webp" alt="app screenshot" width="1628" height="1233" /> -->
                        <!-- <img class="hidden h-full object-cover object-left dark:block" src="./images/hero-dark.webp" alt="app screenshot" width="1628" height="1233" /> -->
                        <img src="/images/supercomputer-front.svg" alt="Supercomputer Front" class="your-custom-classes" />

                        <!-- <img class="h-full object-cover object-left dark:hidden" src="./images/herosection_light.webp" alt="app screenshot" width="1628" height="1233" />
                        <img class="hidden h-full object-cover object-left dark:block" src="./images/dark_mode_chip.webp" alt="app screenshot" width="1628" height="1233" /> -->
                    </div>
                </div>
            </div>

            <div class="mt-8 md:mt-32 text-center lg:mt-20 xl:mt-16">
                <span class="text-sm font-semibold tracking-wider text-gray-800 dark:text-white">TRUSTED BY YOUR FAVORED TOP TECH COMPANIES</span>
                <div class="mt-8 flex flex-wrap items-center justify-center gap-6 brightness-75 contrast-200 grayscale dark:brightness-200 dark:contrast-0 sm:justify-between lg:gap-24">
                    <img class="h-8 w-auto lg:h-14" src="images/clients/airbnb.svg" loading="lazy" alt="airbnb" width="100" height="" />
                    <img class="h-6 w-auto lg:h-10" src="images/clients/google.svg" loading="lazy" alt="bissell" width="100" height="" />
                    <img class="h-6 w-auto lg:h-10" src="images/clients/ge.svg" loading="lazy" alt="ge" width="100" height="100" />
                    <img class="h-6 w-auto lg:h-8" src="images/clients/netflix.svg" loading="lazy" alt="lilly" width="100" height="100" />
                    <img class="h-8 w-auto lg:h-14" src="images/clients/microsoft.svg" loading="lazy" alt="microsoft" width="100" height="" />
                </div>
            </div>
        </div>
    </Container>
</div>

<!-- Add sliding effects -->
<style>
    /* Animation keyframes */
    @keyframes float {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }

    /* Apply animation to elements */
    .animate-float {
        animation: float 2s ease-out forwards;
    }

    /* Base hero section styles */
    .hero-section {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 4rem 1rem;
    }
    /* custom background for herosection */
    .dark-glowing-blue {
    background-color: #1c68d9; /* Lighter blue color */
    box-shadow: 0 0 20px #5a7fb5; /* Light glowing effect */
}



</style>

  
  
  