---
import Container from '../components/Container.astro'
---
<Container>
    <section class="investment-section rounded-lg border border-gray-800 bg-white dark:bg-gray-900 text-gray-900 dark:text-white py-16 px-6 md:px-12 mb-20">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-3xl sm:text-4xl font-bold mb-4">
          Invest in SnowCell
        </h2>
        <p class="mb-6 text-lg sm:text-xl">
          Join us in leading the transformation of the GPU industry through strategic investments.
        </p>
        <p class="mb-8">
          At SnowCell, we're harnessing the power of innovation to redefine the GPU space. We offer our investors unique opportunities to be part of a future where technology creates new possibilities. If you're interested in exploring investment opportunities and contributing to the next big leap in GPU technologies, we invite you to connect with our Investor Relations team.
        </p>
        <a href="#connect" class="bg-primary border-2 border-primary rounded-md px-8 py-4 text-lg text-white font-medium hover:bg-opacity-90 hover:border-gray-300 transition-all dark:bg-dark dark:border-gray-700 dark:hover:border-gray-300">
            Connect Now &rarr;
          </a>
      </div>
    </section>
  </Container>