---
import HeroButton from "./HeroButton.astro";
import Container from "./Container.astro";
import Paragraph from "./Paragraph.astro";
import ByNumber from "./ByNumber.astro";
import BannerCarousel from "./Banner.astro";

// react
import Tabs from "./react/Tabs.jsx";
import DefaultAccordion from "./react/material-tailwind/AccordionAlwaysOpen.jsx";
import AccordionAllOpen from "./react/material-tailwind/AccordionAllOpen.jsx";
import HorizontalCard from "./react/material-tailwind/HorizontalCard.jsx"
import CardWithLink from "./react/material-tailwind/LinkCard.jsx"
import HeroSectionAccordion from "./react/material-tailwind/HeroSectionAccordion.jsx"
import AccordionAlwaysOpen from "./react/material-tailwind/AccordionAlwaysOpen.jsx";



---

<section class="relative pt-32 lg:pt-36 animate-rise">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <!-- <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span> -->
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        
        <!--Text container -->
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
        
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-6xl xl:text-6xl font-bold text-heading-1 dark:text-gray-100 leading-none sm:leading-tight">
            The SnowCell <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 via-primary to-green-600">GPU Cloud</span> is where Innovation meets Speed
        </h1>
        
              
            <Paragraph className="mt-8 text-lg text-gray-700 dark:text-gray-100 animate-float" style="animation-delay: 0.1s;">
                SnowCell is a specialized cloud, providing cutting-edge infrastructure for demanding computational tasks.
            </Paragraph>
            

            <div class="mt-10 flex flex-col sm:flex-row justify-center lg:justify-start gap-4">
                <!-- For light mode -->
                <a href="#get-started" class="bg-white border border-gray-300 rounded-md px-6 py-3 text-gray-800 font-medium hover:bg-gray-50 hover:shadow-md transition-all dark:bg-gray-100 dark:border-gray-100 dark:text-black dark:hover:bg-gray-200">
                  Launch Instance &rarr;
                </a>
                <a href="/pricingpage" class="bg-primary border-2 border-primary rounded-md px-6 py-3 text-white font-medium hover:bg-opacity-90 hover:border-gray-300 transition-all dark:bg-dark dark:border-gray-700 dark:hover:border-gray-300">
                  Plans and pricing &rarr;
                </a>
              </div>
              
        </div>
        
        <!-- Image container -->
        <div class="lg:w-1/2 relative mx-auto max-w-3xl">
            <!-- <img src="/images/machine-learning.svg" alt="Hero image" class="rounded-3xl lg:max-w-lg h-auto object-contain mx-auto"> -->
            <!-- <BannerCarousel /> -->

            <HorizontalCard client:load />
            <HeroSectionAccordion client:load />

        </div>
        
    </Container>
    
    <ByNumber/>
</section>

<!-- Add sliding effects -->
<style>
    /* Animation keyframes */
    @keyframes float {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }

    /* Apply animation to elements */
    .animate-float {
        animation: float 0.5s ease-out forwards;
    }

    /* Base hero section styles */
    .hero-section {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 4rem 1rem;
    }
    /* custom background for herosection */
    .dark-glowing-blue {
    background-color: #1c68d9; /* Lighter blue color */
    box-shadow: 0 0 20px #5a7fb5; /* Light glowing effect */
}

.animate-rise {
    animation: riseAndFadeIn 1.5s ease-in-out forwards;
}

@keyframes riseAndFadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

</style>