---
import Container from "./Container.astro";
---


<section class="why-choose-arctic py-20 bg-white dark:bg-darker">
  <Container>
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-gray-900 dark:text-white">Our Partnerships</h2>
      <p class="text-lg text-gray-600 dark:text-gray-300">
        Elevate your operations with SnowCell solutions.
      </p>
    </div>
    <div class="flex flex-col space-y-8">
      <!-- Feature 1 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/machine-learning.png" alt="Value Added Resellers" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Value Added Resellers</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Enhance your offerings, broaden your customer reach, and boost revenue with SnowCell solutions. Collaborate with SnowCell to extend your ML team and co-capture market opportunities.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/intelligence.png" alt="Referral Partners" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Referral Partners</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Collaborate with the SnowCell team to provide outstanding services tailored to your customers' distinct environments, fostering revenue growth for your enterprise.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/artificial-intelligence.png" alt="System Integrators" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">System Integrators</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Guide your customers through their ML infrastructure journey and empower them to achieve top-tier business results with SnowCell.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
    </div>
  </Container>
</section>
