---
import Faq from "./Faq.astro";
import Container from "./Container.astro"
// react version if changes needed
import FAQAccordion from "./react/material-tailwind/FAQAccordion.jsx"
---

<script>
    const faqs = document.querySelectorAll(".faq");

    for (let i = 0; i < faqs.length; i++) {
        const answer = faqs[i].querySelector(".faq-answer");
        const icon = faqs[i].querySelector(".arrow-down");

        faqs[i].addEventListener("click", () => {
            for (let j = 0; j < faqs.length; j++) {
                const answer2 = faqs[j].querySelector(".faq-answer");
                const icon2 = faqs[j].querySelector(".arrow-down");

                if (faqs[i] != faqs[j]) {
                    const answer2 = faqs[j].querySelector(".faq-answer") as HTMLElement;
                    answer2.style.maxHeight = "0px";
                    icon2.classList.replace("rotate-180", "rotate-0");
                }
            }

            if (icon.classList.contains("rotate-180")) {
                const answer = faqs[i].querySelector(".faq-answer") as HTMLElement;
                answer.style.maxHeight = 0 + "px";
                icon.classList.replace("rotate-180", "rotate-0");
            } else {
                const answer = faqs[i].querySelector(".faq-answer") as HTMLElement;
                answer.style.maxHeight = answer.scrollHeight + "px";
                icon.classList.replace("rotate-0", "rotate-180");
            }
        });
    }
</script>
<Container>
    <div class="pt-20 pb-20 md:pt-32 md:pb-32 flex flex-col gap-12 lg:flex-row">
    <div class="text-center lg:w-5/12 lg:pl-12 lg:text-left">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl lg:text-4xl">
            Frequently Asked Questions
        </h2>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            Here are additional relevant questions asked by our customers or suppliers. 
            If your question is not here, feel free to send us a personal request at 
            <a href="mailto:support@snowcell.io" class="text-blue-500 hover:text-blue-700">support@snowcell.io</a> 
            and we will get back to you as soon as possible.
        </p>
    </div>
    <div class="divide-y divide-gray-200 border-y border-gray-200 dark:divide-gray-800 dark:border-gray-800 lg:w-7/12">
        <Faq id="faq-1" question="How is SnowCell cheaper than legacy providers?">
            <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                At SnowCell, our mission is clear: we aim to deliver unmatched performance 
                at the most competitive price point available. With the industry’s most diverse 
                selection of GPUs, we ensure you have the ideal resources for your unique workload. 
                Our infrastructure is engineered for both speed and adaptability, enabling peak 
                performance and cost-effectiveness.
            </p>
            <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                And when it comes to support, we’re personally 
                committed to optimizing your infrastructure for maximum efficiency. With SnowCell, 
                you’re not just choosing a service, you’re choosing a partner dedicated to empowering 
                your success.
            </p>
        </Faq>
        <Faq id="faq-2" question="Do you offer discounts?">
            <div>
                <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                    At SnowCell, you can dive into flexible on-demand cloud solutions with no strings attached. 
                    For consistent workloads, we provide substantial savings through Reserved Instances and Bulk 
                    Credits, tailored to your usage.
                </p>
                
                <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                    Chat with our Sales team to unlock discounts that boost your business's efficiency and savings. 
                </p>
            </div>
        </Faq>
        <Faq id="faq-3" question="Do you offer spot instances?">
            <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                Yes, we do. Our on-demand pricing mirrors the flexibility of interruptible instances, 
                but with the assurance of uninterrupted service. Our clients enjoy the best of both 
                worlds—scalable solutions with reliable access, so once you spin up an instance on 
                SnowCell Cloud, it remains yours until you're ready to wind down, ensuring your workflows 
                proceed without a hitch.
            </p>
        </Faq>
        <Faq id="faq-4" question="Do you process personal data and/or share it with third parties?">
            <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                We respect your privacy – your data is yours, and we don't touch it. That means we don't peek into your data, 
                nor do we pass it on or sell it to anyone else. If you want us to delete all your data, just drop us an email 
                at <a href="mailto:support@snowcell.io" class="text-blue-500 hover:text-blue-700">support@snowcell.io</a>, and we'll take care of it.
            </p>            
        </Faq>
        <Faq id="faq-5" question="Are there any hidden costs?">
            <div class="pb-6 text-base text-gray-600 dark:text-gray-400">
                <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                    We don't believe in charging you for every GB transferred. 
                    We've eliminated fees for regional transfers and workstation data in most scenarios. 
                    If your bandwidth needs are extensive, we'll collaborate closely with you to understand 
                    your requirements and secure flat rates, ensuring your large-scale cloud operations remain 
                    cost-effective.
                    </p>
                    
                    <p class="pb-6 text-base text-gray-600 dark:text-gray-400">
                        If you are unsure about the pricing plan and/or other costs, just drop us an email 
                    at <a href="mailto:support@snowcell.io" class="text-blue-500 hover:text-blue-700">support@snowcell.io</a>. 
                    </p>
            </div>
        </Faq>
        <!-- <FAQAccordion client:load /> -->
    </div>
</div>
</Container>

