---
import Container from "./Container.astro";
import Button from "./Button.astro";
import Faqs from "./Faqs.astro";

// react
import FAQAccordion from "./react/material-tailwind/FAQAccordion.jsx"
---

<div class="relative pt-32 md:pt-44" id="pricing">
    <div aria-hidden="true" class="absolute inset-0 m-auto grid h-max w-full grid-cols-2 -space-x-52 opacity-40 dark:opacity-80">
        <div class="h-56 bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"></div>
        <div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="m-auto text-center lg:w-8/12 xl:w-7/12">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:text-5xl">Start managing your company smarter today</h2>
        </div>
        <div class="mt-12 md:mt-20">
            <div class="relative rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/20 transition duration-500 dark:border-white/10 dark:bg-gray-900 dark:shadow-none">
                <div class="flex flex-col gap-12 divide-y p-12 dark:divide-gray-800 md:flex-row md:divide-y-0 md:divide-x">
                    <div class="text-center md:w-5/12">
                        <h3 class="text-3xl font-bold text-gray-900 dark:text-white">Suite Enterprise</h3>
                        <p class="text-lg text-gray-600 dark:text-gray-300">For your company of any size</p>
                        <span class="mb-6 mt-12 inline-block text-6xl font-bold text-gray-900 dark:text-white"><span class="text-4xl text-primary dark:text-gray-200">$</span>234</span>

                        <div class="flex justify-center">
                            <Button El="button" type="button" label="Get started" emphasis="primary" />
                        </div>

                        <p class="mt-12 text-sm text-gray-500 dark:text-gray-400">Includes : Security, Unlimited Storage, Payment, Search engine, and all features</p>
                    </div>
                    <div class="relative md:w-7/12 md:pl-12">
                        <ul role="list" class="space-y-4 py-6 text-gray-600 dark:text-gray-300">
                            <li class="space-x-2">
                                <span class="font-semibold text-primary dark:text-gray-300">&check;</span>
                                <span>First premium advantage</span>
                            </li>
                            <li class="space-x-2">
                                <span class="font-semibold text-primary dark:text-gray-300">&check;</span>
                                <span>Second advantage weekly</span>
                            </li>
                            <li class="space-x-2">
                                <span class="font-semibold text-primary dark:text-gray-300">&check;</span>
                                <span>Third advantage donate to project</span>
                            </li>
                            <li class="space-x-2">
                                <span class="font-semibold text-primary dark:text-gray-300">&check;</span>
                                <span>Fourth, access to all components weekly</span>
                            </li>
                        </ul>
                        <p class="text-gray-700 dark:text-white">Team can be any size, and you can add or switch members as needed. Companies using our platform include:</p>
                        <div class="mt-12 flex flex-wrap items-center justify-between gap-6 grayscale">
                            <img class="h-8 w-auto lg:h-12" src="images/clients/airbnb.svg" width="100" alt="airbnb" />
                            <img class="h-6 w-auto lg:h-8" src="images/clients/netflix.svg" width="100" alt="bissell" />
                            <img class="h-8 w-auto lg:h-10" src="images/clients/ge.svg" width="100" height="100" alt="ge" />
                            <img class="ww-auto h-8 lg:h-12" src="images/clients/microsoft.svg" width="100" alt="microsoft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <Faqs /> -->
    </Container>
</div>
