---
import Card from "./Card.astro";
---

<div class="my-20 md:my-32">
    <h3 class="text-2xl font-bold text-gray-900 dark:text-white md:w-3/4 md:text-3xl lg:text-4xl mb-8">Enhance Your Operations with Our Precision-Engineered Product Line.</h3>
    <div class="relative grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <Card class="flex flex-col">
            <img class="w-16 h-16 mb-4" src="./images/security.webp" alt="safety icon illustration" height="512" width="512" />
            <div class="flex-grow">
                <h4 class="text-xl font-semibold text-gray-900 dark:text-white">HPC as a Service</h4>
                <p class="mt-3 text-gray-600 dark:text-gray-400">Our HPC solutions integrate cutting-edge technology, including the renowned NVIDIA HGX H100, to deliver unparalleled computational power and performance.</p>
            </div>
            <a href="#" class="mt-4 inline-block px-6 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">Learn More</a>
        </Card>
        
        <Card class="flex flex-col">
            <img class="w-16 h-16 mb-4" src="./images/card.webp" alt="payment card icon illustration" height="512" width="512" />
            <div class="flex-grow">
                <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Hybrid Solutions</h4>
                <p class="mt-3 text-gray-600 dark:text-gray-400">Seamlessly integrate your personal hardware with our advanced cloud solutions. Best of both worlds, tailored for you.</p>
            </div>
            <a href="#" class="mt-4 inline-block px-6 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">Learn More</a>
        </Card>
        
        <Card class="flex flex-col">
            <img class="w-16 h-16 mb-4" src="./images/xp.webp" alt="xp icon illustration" height="512" width="512" />
            <div class="flex-grow">
                <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Colocation</h4>
                <p class="mt-3 text-gray-600 dark:text-gray-400">Optimize your infrastructure by hosting with us. Benefit from our state-of-the-art facilities and network capabilities.</p>
            </div>
            <a href="#" class="mt-4 inline-block px-6 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">Learn More</a>
        </Card>
    </div>
</div>

</div>

