---
import Container from "./Container.astro";
---

<section class="why-choose-arctic py-20 bg-white dark:bg-darker">
    <Container>
      <div class="text-center mb-12">
        <h2 class="text-4xl font-bold text-gray-900 dark:text-white">What We Are Building</h2>
        <!-- <p class="text-lg text-gray-600 dark:text-gray-300">
          Building the future of cloud computing with our state-of-the-art GPU cloud.
        </p> -->
      </div>
      <div class="flex flex-col space-y-8">
        <!-- Feature 1 -->
        <div class="flex flex-col md:flex-row items-center">
          <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/machine-learning.png" alt="Dedicated GPU Instances" />
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Dedicated GPU Instances</h4>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
              We are building dedicated GPU instances tailored for high intensity computing tasks, ensuring optimal performance for machine learning, data analysis, and computational simulations.
            </p>
            <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
          </div>
        </div>
        <!-- Feature 2 -->
        <div class="flex flex-col md:flex-row items-center">
          <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/intelligence.png" alt="Seamless Scalability" />
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Seamless Scalability</h4>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
              Our platform's architecture allows for seamless scalability, enabling businesses to scale their GPU resources up or down instantly, based on their current needs, without sacrificing performance.
            </p>
            <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
          </div>
        </div>
        <!-- Feature 3 -->
        <div class="flex flex-col md:flex-row items-center">
          <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/artificial-intelligence.png" alt="AI and Machine Learning Optimization" />
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">AI and Machine Learning Optimization</h4>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
              We are dedicated to optimizing AI and machine learning workloads, offering specialized infrastructure that enhances computational efficiency and accelerates the development of AI models.
            </p>
            <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
          </div>
        </div>
      </div>
    </Container>
  </section>
  
