---
import Container from "./Container.astro";
---

<!-- WhyChooseArctic.astro -->
<section class="why-choose-arctic py-20 bg-white dark:bg-darker">
  <Container>
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-gray-900 dark:text-white">Why Choose SnowCell</h2>
      <p class="text-lg text-gray-600 dark:text-gray-300">
        Elevate your operations with our precision-engineered cloud solutions.
      </p>
    </div>
    <div class="flex flex-col space-y-8">
      <!-- Feature 1 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/machine-learning.png" alt="HPC as a Service" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">High Performance, Fractional Cost</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Leverage our high-performance computing platform to accelerate your most demanding tasks.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/intelligence.png" alt="Hybrid Solutions" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Hybrid Solutions</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Get the flexibility of cloud with the control of on-premises hardware, all in one seamless environment.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="flex flex-col md:flex-row items-center">
        <img class="w-16 h-16 mb-4 md:mb-0 md:mr-4" src="/images/artificial-intelligence.png" alt="Colocation" />
        <div>
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Parallelized Computing at Scale</h4>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            Host your infrastructure in our state-of-the-art data centers for enhanced performance and connectivity.
          </p>
          <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">Learn More</a>
        </div>
      </div>
    </div>
  </Container>
</section>
