---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import Container from "../components/Container.astro";
import NewAppHeader from "../components/NewAppHeader.astro";

// react
import Navbar from "../components/react/Navbar.tsx";
import MegaMenuDefault from "../components/react/NewNavBar.jsx";

// transitions
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>SnowCell</title>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
        <ViewTransitions />
    </head>
    <body class="bg-white dark:bg-darker">
        <!-- <AppHeader /> -->
        <NewAppHeader />
        <!-- <MegaMenuDefault client:load /> -->
        <slot />
        <AppFooter />
    </body>
</html>

<style>
    html {
        font-family: DM Sans, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        overflow-x: hidden;
    }
</style>
